div#content{
	margin-top: 50px;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #e8e8e7;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

div.borderContent {
	outline: 5px solid #0E2969;
}

input[type="text"].inputborder, input[type="password"].inputborder {
	outline: 5px solid #f6f5f5;
}

input[type="text"].inputborder:focus, input[type="password"].inputborder:focus {
	border-color: #1792a4;
	outline: 5px solid #e8e8e7;
}

.navbar-inverse {
	background-image: linear-gradient(to bottom, #eee 0px, #fff 100%);
	background-repeat: repeat-x;
	border-color: #C12F2B;
}

.navbar-inverse .navbar-nav > .active > a {
	background-image: linear-gradient(to bottom, #E70101 0px, #C12F2B 100%);
	background-repeat: repeat-x;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25) inset;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #E70101;
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	background-color: transparent;
	color: #E70101;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #000F81;
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
	color: #000F81;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	text-shadow: 0 -1px 0 rgba(0, 15, 129, 0.25);
}

.loading-ms {
	background: #fff none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	opacity: 0.7;
	outline: 0 none;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 5;
}

.loading-ms img {
	position: relative;
	top: 177px;
	z-index: 10;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}