div#content{
	margin-top: 50px;
}

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #e8e8e7;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

div.borderContent {
	border: solid #428bca 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input[type="text"].inputborder, input[type="password"].inputborder {
	outline: 5px solid #f6f5f5;
}

input[type="text"].inputborder:focus, input[type="password"].inputborder:focus {
	border-color: #1792a4;
	outline: 5px solid #e8e8e7;
}

.navbar-inverse {
	background-image: linear-gradient(to bottom, #eee 0px, #fff 100%);
	background-repeat: repeat-x;
	border-color: #C12F2B;
}

.navbar-inverse .navbar-nav > .active > a {
	background-image: linear-gradient(to bottom, #E70101 0px, #C12F2B 100%);
	background-repeat: repeat-x;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25) inset;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #E70101;
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	background-image: linear-gradient(to bottom, #E70101 0px, #C12F2B 100%);
	background-repeat: repeat-x;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.25) inset;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #E70101;
	background-color: #ccc;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: transparent;
}

.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	background-color: #ccc;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #3B81BE;
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
	color: #3B81BE;
}

.dropdown-menu > li > a {
	color: #3B81BE;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: #3B81BE;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	text-shadow: 0 -1px 0 rgba(0, 15, 129, 0.25);
}

.navbar-inverse .navbar-toggle {
	border-color: #E70101;
	background-color: #E70101;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #3B81BE;
	border-color: #3B81BE;
}

.loading-ms {
	background: #fff none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	opacity: 0.7;
	outline: 0 none;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 5;
}

.loading-ms img {
	position: relative;
	top: 177px;
	z-index: 10;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.small-list ul{
	padding-left: 1px;
}

div.metadocument-element {
	background: #FFF none repeat scroll 0% 0%;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.22);
	border-radius: 6px;
	margin-bottom: 10px;
}

div.metadocument-image {
	padding-top: 5px;
	height: 230px;
}

div.metadocument-image img {
	max-width: 100%;
	max-height: 95%;
}

div.metadata-down{
	height: 52px;
	overflow: hidden;
}

div.metadocument-divider {
	border-bottom: 1px solid #EEE;
	width: 100%
}

div.matadocument-title {
	overflow: hidden;
	max-height: 32px;
}

div.metadocument-metadata-one {
	height: 143px;
	overflow: hidden;
}

div.metadocument-metadata-two {
	height: 90px;
	overflow: hidden;
}

div.metadocument-metadata-one ul, div.metadocument-metadata-two ul {
	list-style:none;
	padding: 0px 5px;
}

div.metadocument-metadata-one ul li, div.metadocument-metadata-two ul li {

	font-size: 12px;
}

div.position-button {
	position: relative;
	top: 10px;
	left: 5px;
}

#text_button{
	border: 1px solid rgb(204, 204, 204);
	border-color: #ccc;
	border-radius: 5px;
	margin-top: 10px;
	float: left;
	margin: 10px 0;
	width: 100%;

}

.meta-text{  
	padding: 2px;
	float: left;
	margin: 2px 5px;
}

.alert-dismissable .close, .alert-dismissible .close {
	right: -1px;
}

.date-meta-doble{
	float: left !important;
	width: 50% !important;
}

.element-center{
	display: table;
	margin: auto;
}

.ir-arriba {
	display: none;
	padding:20px;
	background:#428BCA;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.left-menu-back {
	z-index: 9;
	width: 100%;
	height: 100%;
	background: none;
	position: fixed;
	left: 250px;
	top: 53px;
}

.left-menu {
	position: fixed;
	z-index: 10;
	background: #fff none repeat scroll 0% 0%;
	background-clip: padding-box;
	border-radius: 0px 6px;
	left: -250px;
	top: 53px;
	height: 100%;
	width: 250px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
	overflow-y: auto;
	bottom: 0px;
}

.hidden-element{
	display: none;
}

.form-group-meta{
	margin: 3px 2px;
}