#SOs
Thumbs.db
._*

#IDEs
nbproject
.idea

#Metadocument
/.htaccess
/files
/report
/config/propel.php
/config/propelConect.php
composer.*
conectest.php
error_log
passmetadocument.txt
propel
shema.xml
url-googlr-api.txt
/ft23p7jl2sbt3tvtekh